@charset "UTF-8";
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider {
  min-width: 0;
  position: relative;
  padding: 0 17px;
}

.slider .slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slick-arrow {
  position: absolute;
  top: calc(50% - 10px);
  z-index: 15;
  font-size: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
}

.slider .slick-arrow.slick-prev {
  left: 0;
}

.slider .slick-arrow.slick-next {
  right: 0;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 90px;
}

.slider .slick-dots li {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slick-dots button {
  font-size: 0;
  width: 11px;
  height: 11px;
  background: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .slider .slick-dots button {
    width: 15px;
    height: 15px;
  }
}

.slider .slick-dots li.slick-active button {
  background-color: #a9afb3;
}
